<div class="container mt-3">
  <div class="row">
    <h3>Table {{pivot == true ? 'Orders Pivot' : 'Orders'}}</h3>
    <table *ngIf="!pivot" class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FULLNAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ITEM</th>
        <th scope="col">QTY</th>
        <th scope="col">TOTAL PRICE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders; index as i">
        <th scope="row">{{order.id}}</th>
        <td>{{order.firstname+' '+order.lastname}}</td>
        <td>{{order.email}}</td>
        <td>{{order.item}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.total_price | number: '1.0-0'}}</td>
      </tr>
      </tbody>
    </table>
    <table *ngIf="pivot" class="table table-striped">
      <thead>
      <tr>
        <th class="text-uppercase" *ngFor="let key of keyArray" scope="col">{{key}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders; index as i">
        <td *ngFor="let key of keyArray">{{order[key]}}</td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="!pivot" (click)="pivotData()" type="button" class="btn btn-primary">Pivot</button>
    <button *ngIf="pivot" (click)="ngOnInit()" type="button" class="btn btn-secondary">Normal</button>
  </div>
</div>
